.toDoInsert {
    display: grid;
    grid-template-columns: auto 45px;
    grid-column-gap: 0;
    input {
        background: rgb(46, 46, 46);
        margin: 0;
        height: 25px;
        padding: 10px;
        border: none;
        transition: 0.5s;
        font-weight: 700;
        font-size: medium;
        color: rgb(166, 193, 224);
        &:focus {
            outline: none;
            background: rgb(95, 115, 141);
            color: rgb(241, 197, 197);
        }
    }
    button {
        margin: 0;
        padding: 0;
        border: none;
        transition: 0.3s;
        &:hover {
            background: rgb(95, 93, 93);
        }
        &:active {
            outline: none;
            background: rgb(95, 115, 141);
        }
    }
}
